<ion-view view-title="Mobile Benchmark" hide-nav-bar="true">
  <ion-content class="padding homeBackground">
  	  <div class="arrowBack">
  	  	<i class="ion-arrow-left-c arrowBackIcon" ng-click="goBack()"></i>
  	  </div>
	  <div class="homeText" style="margin-top: 10px;">
	    <p class="homeLargeText">TESTING HISTORY</p>
	  </div>
	  <hr class="homeLine">
	  <div ng-repeat="mark in marks">
	  	 <div class="eachMark">
		  	<p class="historyDate">Testing date: {{ mark.updateTimestamp | date }} </p>
		  	<p class="historyMarks">Test 1: {{ mark.markFactorial }} </p>
		  	<p class="historyMarks">Test 2: {{ mark.markCount }} </p>
		  	<p class="historyMarks">Test 3: {{ mark.markGcd }} </p>
		  	<p class="historyFinalMark">Final mark: {{ mark.finalMark }} </p>
		  </div>
	  </div>
  </ion-content>
</ion-view>
