<ion-view view-title="Mobile Benchmark" hide-nav-bar="true">
  <ion-content class="padding homeBackground">
  	  <!-- <div class="arrowBack">
  	  	<i class="ion-arrow-left-c arrowBackIcon" ng-click="goBack()"></i>
  	  </div> -->
	  <div class="homeText">
	    <p class="homeSmallText">TEST</p>
	    <p class="homeLargeText">YOUR PHONE</p>
	    <p class="homeLargeText">PERFORMANCES</p>
	  </div>
	  <hr class="homeLine">
	  <div class="homeBtn" ng-click="startTesting()">TEST DEVICE</div>
	  <div class="homeSeparator">
	    <hr class="homeSeparatorLine">
	    <p class="homeSeparatorText"> OR </p>
	    <hr class="homeSeparatorLine">
	  </div>
	  <!-- <div class="inputFieldLogin">
	  	<i class="ion-email loginIcon"></i>
	  	<input type="text" value="" placeholder="Email" class="userInputLogin" ng-click="showEmailLogin()">
	  </div> -->
	  <div class="homeBtn homeBtnLower" ng-click="showHistory()">VIEW PREVIOUS RESULTS</div>
  </ion-content>
</ion-view>
