<ion-view view-title="Mobile Benchmark" hide-nav-bar="true">
  <ion-content class="padding homeBackground">
	  <div class="homeText">
	    <p class="homeSmallText">TEST</p>
	    <p class="homeLargeText">YOUR PHONE</p>
	    <p class="homeLargeText">PERFORMANCES</p>
	  </div>
	  <hr class="homeLine">
	  <div class="homeBtn" ng-click="startTesting()">TEST DEVICE</div>
	  <div class="homeSeparator">
	    <hr class="homeSeparatorLine">
	    <p class="homeSeparatorText"> OR </p>
	    <hr class="homeSeparatorLine">
	  </div>
	  <div class="homeBtn homeBtnLower" ng-click="showHistory()">VIEW PREVIOUS RESULTS</div>
  </ion-content>
</ion-view>
