<ion-view view-title="Mobile Benchmark" hide-nav-bar="true">
  <ion-content class="padding homeBackground">
  	  <div class="arrowBack">
  	  	<i class="ion-arrow-left-c arrowBackIcon" ng-click="goBack()"></i>
  	  </div>
  	  <div class="testProcessText" id="firstText">
	    <p class="homeLargeText">SAVE DEVICE'S RESULT</p>
	  </div>
	  <hr class="testProcessLine">
	  <div class="inputField">
	  	<i class="ion-iphone inputIcon"></i>
	  	<input type="text" value="" ng-model="data.name" placeholder="Device's name" class="userInput">
	  </div>
	  <button id="saveResultBtn" class="testBtn" ng-click="saveResult()">SAVE RESULT</button>
	  <div class="saveDesc">Save your result so you can see testing history</div>
  </ion-content>
</ion-view>
