<ion-view view-title="Mobile Benchmark" hide-nav-bar="true">
  <ion-content class="padding homeBackground">
  	  <div class="arrowBack">
  	  	<i class="ion-arrow-left-c arrowBackIcon" ng-click="goBack()"></i>
  	  </div>
  	  <div class="testProcessText" id="firstText">
	    <p class="homeSmallText">DEVICE TESTING</p>
	    <p class="homeLargeText">PLEASE START TESTS</p>
	  </div>
	  <div class="testProcessText" id="secondText">
	    <p class="homeSmallText">TESTS ARE RUNNING</p>
	    <p class="homeLargeText">PLEASE WAIT</p>
	  </div>
	  <div class="testProcessText" id="thirdText">
	    <p class="homeSmallText">TESTS ARE DONE</p>
	    <p class="homeLargeText">RESULTS</p>
	  </div>
	  <hr class="testProcessLine">
	  <div class="homeBtn" id="startTestingBtn" ng-click="startTesting()">START TESTING</div>
	  <div >
	  	<img src="../img/loading.gif" id="loading">
	  </div>
	  <div id="result">
	  	<p class="marks">Test 1: {{ marks.markFactorial }} </p>
	  	<p class="marks">Test 2: {{ marks.markCount }} </p>
	  	<p class="marks">Test 3: {{ marks.markGcd }} </p>
	  	<p class="finalMark">Final mark: {{ marks.finalMark }} </p>
	  </div>
	  <button id="saveBtn" class="testBtn" ng-click="saveResult()">SAVE RESULT</button>
	  <div class="homeSeparator" id="testSeparator">
	    <hr class="homeSeparatorLine">
	    <p class="homeSeparatorText"> OR </p>
	    <hr class="homeSeparatorLine">
	  </div>	
	  <button id="runAgainBtn" class="testBtn" ng-click="runAgain()">RUN TESTS AGAIN</button>
  </ion-content>
</ion-view>
